/*
 * @Author: dvlproad
 * @Date: 2023-03-03 14:02:09
 * @LastEditors: dvlproad
 * @LastEditTime: 2023-03-03 14:10:30
 * @Description: 
 */
 .hide {
  display: none !important;
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog .content {
  background: white;
  padding: 30px 20px;
}

.dialog .content .msg {
  font-size: 16px;
}

.dialog .content .close-btn {
  margin-top: 10px;
  width: 100px;
  height: 36px;
  background-color: #fff;
  border: 1px solid blue;
  font-size: 14px;
  color: blue;
}