.div_spearte {
  height: 16px;
}

.button_half_width {
  background-color: red;
  color: white;
  border-width: 0;
  width: 45%;
  font-size: 12px;
}

.button_full_width {
  background-color: red;
  color: white;
  border-width: 0;
  width: 95%;
  font-size: 20px;
}

.title1 {
  color: red;
  font-size: 14px;
  padding-left: 10px;
}

.title1 .title2 {
  color: blue;
  font-size: 12px;
}

.title1 .title_prompt {
  color: orchid;
  font-size: 12px;
}

.textarea_one_line {
  width: 95%;
  height: 16px;
}

.textarea_argument {
  width: 95%;
  height: 200px;
}

.textarea_decription_multiline {
  width: 95%;
  height: 80px;
}